* {
    box-sizing: border-box;
}

.App {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.card-image {
    max-width: 400px;
}

.detail-image {
    max-width: 80%;
}

.post-detail {
    text-align: center
}

.card-title {
    justify-content: center
}

.set-profile-pic {
    width: 120px;
    height: 120px;
    text-align: center;
    padding-top: 40px;
    border-radius: 60px;
    background-size: contain
}

.profile-pic-input {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1
}

.label-styling {
    border-radius: 60px;
    width: 120px;
    height: 120px;
    margin-top: -40px;
    padding-top: 42px;
    cursor: pointer;
    color: transparent;
    font-size: 13pt;
    transition: .3s
}

.label-styling:hover {
    color: #e5e6e7;
    background: rgba(0, 0, 0, 0.5);
}

.profile-pic-input:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 60px;
    margin: 5px
}

.card-username {
    font-size: 18pt;
    text-decoration: none;
    color: rgb(53, 53, 53);
    display: flex;
    align-items: center;
    transition: color .5s
}

.card-username:hover {
    color: darkcyan
}

.comment-icon {
    width: 30px;
    height: 30px;
    border-radius: 60px;
    margin: 5px
}

.user-posts-bio {
    margin-left: 20px
}