* {
    box-sizing: border-box;
    margin: 0
}

body {
    background-color: whitesmoke
}

.App {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.button {
    border-radius: 5px;
    background-color: whitesmoke;
    transition: border .3s;
    outline: none
}

.button:hover {
    border: solid rgb(112, 112, 112) 1px;
    cursor: pointer
}

.button:active {
    background-color: rgb(116, 154, 177);
    box-shadow: 2px 2px rgb(182, 182, 182);
    transform: translateY(2px);
}

.input {
    padding: 16px;
    border-radius: 5px;
    resize: none;
    border: solid rgb(112, 112, 112) 1px;
    outline: none;
    background-color: whitesmoke
}

.input:focus {
    background-color: white;
}

/* auth */
.auth-page {
    border: solid rgb(224, 224, 224) 1px;
    width: 700px;
    background-color: white;
    margin: 40px auto;
    padding: 10px;
    text-align: center;
}

.auth-container {
    margin: 20px
}

.auth-form {
    margin: 10px;
    margin-bottom: 20px;
}

.auth-form > input {
    border-radius: 4px;
    margin: 3px;
    background-color: whitesmoke;
    outline: none;
    padding: 4px;
    border: none;
    border-bottom: solid rgb(116, 154, 177) 2px;
    border-right: solid rgb(116, 154, 177) 2px;
}

.auth-form > input:focus {
    background-color: white;
    border-left: solid whitesmoke 1px;
    border-top: solid whitesmoke 1px
}

.auth-button {
    height: 23px
}

.auth-toggle-button {
    margin-left: 8px
}

/* nav */
.nav {
    border: solid rgb(224, 224, 224) 1px;
    background-color: white;
    padding: 8px;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.nav-box {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: auto
}

.nav-link {
    text-decoration: none;
    font-size: 13pt;
    color: black;
    margin-left: 30px;
    transition: .3s
}

.nav-link:hover {
    color: rgb(116, 154, 177)
}

.nav-button {
    font-size: 13px;
    align-self: center;
    margin-top: -21px;
    float: right
}

/* posts */
.postlist-container {
    margin-top: 30px
}

.posts {
    padding-top: 40px
}

.card {
    background-color: white;
    border: solid rgb(224, 224, 224) 1px;
    max-width: 702px;
    border-radius: 4px;
    margin: 10px auto 25px
}

.card-user {
    display: flex;
    align-items: center;
    margin: 8px 0 4px 0
}

.card-user-icon {
    width: 40px;
    height: 40px;
    border-radius: 60px;
}

.card-user-icon-box {
    margin: 5px 10px;
}

.card-username-link {
    text-decoration: none;
}

.card-username {
    font-size: 16pt;
    color: rgb(53, 53, 53);
    transition: color .3s;
    margin-top: -8px
}

.card-username:hover {
    color: rgb(116, 154, 177)
}

.card-date {
    position: relative;
    float: right;
    margin-top: -42px;
    margin-right: 10px;
}

.card-image {
    max-width: 700px;
}

.card-votes {
    margin: 10px 0 -2px 16px
}

.vote-buttons {
    margin-left: 14px;
    margin-top: 6px
}

/* detail */
.post-detail-container {
    padding-top: 50px;
    padding-bottom: 20px
}

.post-detail {
    padding-bottom: 14px;
    width: 700px;
    margin: auto;
    background-color: white;
    border: solid rgb(224, 224, 224) 1px;
    border-radius: 4px
}

.detail-top-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px
}

.detail-user {
    grid-column: 1 / 2;
    display: flex;
    margin-left: 15px
}

.detail-icon {
    width: 70px;
    height: 70px;
    border-radius: 60px
}

.detail-username {
    font-size: 18pt;
    color: rgb(53, 53, 53);
    transition: color .3s;
    align-self: center;
    text-decoration: none;
    margin-left: 10px
}

.detail-username:hover {
    color: rgb(116, 154, 177)
}

.delete-button {
    width: 120px;
    height: 26px;
    font-size: 14px;
    justify-self: right;
    align-self: center;
    margin-right: 15px
}

.detail-date {
    margin-bottom: 10px;
    margin-top: -10px;
    text-align: center;
}

.detail-image {
    max-width: 700px;
}

.detail-votes {
    margin: 10px 0 0 16px
}

.detail-description-button {
    float: right;
    margin-top: -18px;
    margin-right: 10px
}

.detail-description-input {
    margin-top: 10px;
    text-align: center;
}

.detail-save-description {
    margin-left: 6px;
    position: absolute;
    margin-top: 22px;
    font-size: 11pt;
    height: 30px;
    width: 60px
}

.detail-description {
    margin: 20px;
    word-break: break-word
}

/* comments */
.comments-box {
    margin-top: 10px;
    width: 432px;
    margin: auto
}

.comments-title {
    text-align: center;
}

.comment-form {
    margin: 10px
}

.comment-form-button {
    position: absolute;
    margin-left: 8px;
    margin-top: 10px;
    height: 26px
}

.comments-list {
    margin-top: 50px
}

.comment {
    margin-left: 4px;
    margin: 20px 4px;
    padding-right: 12px;
    display: flex;
    align-items: flex-start;
}

.comment-user {
    display: flex;
    align-items: center;
    margin-top: -3px
}

.comment-username {
    margin-right: 4px;
    margin-left: -4px
}

.comment-icon {
    width: 24px;
    height: 24px;
    border-radius: 60px;
    margin-bottom: -5px
}

.comment-username-link {
    text-decoration: none;
    margin-left: 5px;
    color: rgb(53, 53, 53);
    transition: color .3s
}

.comment-username-link:hover {
    color: rgb(116, 154, 177)
}

.comment > p {
    margin-left: 6px;
    overflow: hidden;
    word-break: break-word;
    hyphens: auto;
}

.comment-buttons {
    float: right;
    margin-right: -56px;
}

.comment-save-button {
    height: 18px;
    margin-top: -10px;
    margin-left: 21px
}

.edit-comment-input {
    width: 90%;
    margin-top: -9px
}

/* profile */
.profile {
    padding-top: 50px;
}

.profile-edit {
    display: grid;
    grid-template-columns: 200px auto;
    width: 700px;
    margin: auto;
    padding: 10px;
    border: solid rgb(224, 224, 224) 1px;
    border-radius: 4px;
    background-color: white;
}

.profile-edit-text {
    grid-column: 2 / 3
}

.profile-username {
    margin: 14px;
    /* font-size: 14pt */
}

.profile-postnum {
    margin-left: 14px
}

.profile-bio {
    margin: 14px 0 10px 14px;
}

.bio-p {
    margin-bottom: 10px;
    border-radius: 4px;
    word-break: break-word;
}

.bio-textarea {
    width: 80%;
}

.profile-bio-button {
    width: 80px;
    float: left;
}

.set-bio-button {
    width: 80px;
    float: left;
    margin-left: 14px
}

.set-profile-pic {
    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;
    margin: 20px;
    width: 150px;
    height: 150px;
    text-align: center;
    padding-top: 40px;
    border-radius: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}

.profile-pic-input {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1
}

.label-styling {
    border-radius: 80px;
    width: 150px;
    height: 150px;
    margin-top: -40px;
    padding-top: 56px;
    cursor: pointer;
    color: transparent;
    font-size: 13pt;
    transition: .3s
}

.label-styling:hover {
    color: #e5e6e7;
    background: rgba(0, 0, 0, 0.5);
}

.profile-pic-input:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.profile-post {
    text-align: center;
    width: 700px;
    margin: 14px auto;
    padding: 20px;
    border: solid rgb(224, 224, 224) 1px;
    border-radius: 4px;
    background-color: white;
}

.post-submit-button {
    margin-top: 10px;
    width: 100px;
    font-size: 12pt;
    padding: 6px
}

/* logged in user posts (my album page) */
.current-user-posts-page {
    padding-top: 50px;
    text-align: center;
    width: 700px;
    margin: auto;
}

.current-user-title {
    font-size: 16pt;
    margin: 10px;
    margin-bottom: 20px
}

.user-post-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    /* align-content: flex-end */
    /* grid-template-columns: repeat(2, auto); */
    /* grid-gap: 8px */
}

.current-user-card {
    max-width: 330px;
    /* margin: 10px */
    /* justify-items: stretch; */
}

.user-post-info {
    display: none;
    /* ^^^^ NEEDS WORK */
    max-width: 200px;
    margin: auto;
    padding: 10px
}

.user-post-img {
    max-width: 100%;
}

.user-post-description {
    word-break: break-word;
}

/* (other) user page */
.user-detail {
    padding-top: 50px;
}

.user-detail-info {
    border: solid rgb(224, 224, 224) 1px;
    border-radius: 4px;
    background-color: white;
    max-width: 700px;
    margin: auto;
    margin-bottom: -26px;
    display: grid;
    grid-template-columns: 200px auto;
}

.user-detail-icon {
    width: 130px;
    height: 130px;
    border-radius: 80px;
    margin: 20px;
    grid-column: 1 / 2;
    justify-self: center;
}

.user-detail-text {
    padding: 10px;
    padding-top: 16px
}

.user-detail-post-num {
    margin-top: 10px
}

.user-posts-bio {
    margin: 14px 14px 10px 0
}

.user-detail-date {
    float: right;
    margin-right: 16px;
    margin-top: -16px;
}

@media only screen and (max-width: 880px){
    .nav-box {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .nav-link {
        margin-left: 0;
        margin-right: 30px
    }
}

@media only screen and (max-width: 740px){
    .auth-page {
        width: 96%
    }

    .nav-box {
        width: 96%
    }

    .card-image {
        max-width: 100%
    }

    .post-detail {
        width: 100%
    }

    .detail-image {
        max-width: 100%;
    }

    .profile-edit {
        width: 96%
    }

    .bio-textarea {
        width: 96%;
    }

    .profile-post {
        width: 96%
    }

    .current-user-posts-page {
        width: 100%
    }

    .user-detail-info {
        max-width: 96%
    }
}

@media only screen and (max-width: 700px){
    .user-post-list {
        display: block
    }

    .current-user-card {
        max-width: 100%
    }
}

@media only screen and (max-width: 660px){
    .profile-username {
        font-size: 18pt
    }
}

@media only screen and (max-width: 580px){
    .comment {
        padding-right: 0;
    }

    .comment-form {
        text-align: center;
        margin-bottom: 0
    }

    .comment-input {
        width: 100%;
        margin: auto;
        margin-left: -40px
    }

    .comment-form-button {
        position: relative;
        width: 80px;
        float: left;
        left: 50%;
        margin-left: -40px;
        margin-top: 60px;
    }

    .comments-box {
        width: 90%;
        margin: auto
    }

    .comment-buttons {
        margin-right: 0;
        float: right;
        display: flex;
        flex-direction: column;
    }
    
    .comment-save-button {
        /* margin-top: -65px;
        margin-right: 32px; */
        /* margin-right: 50px; */
        /* margin-left: -20px; */
        width: 51px;
        height: 30px;
        margin-top: 5px
        /* float: right; */
        /* margin-right: 60px; */
    }
    
    .edit-comment-input {
        width: 100%;
        margin-top: -10px;
        margin-left: -10px;
    }

    .profile-username {
        font-size: 16pt
    }
}

@media only screen and (max-width: 530px){
    .detail-username-text {
        font-size: 14pt
    }

    .profile-username {
        font-size: 14pt
    }
}

@media only screen and (max-width: 500px){
    .detail-save-description {
        display: block;
        position: relative;
        margin: 8px auto 16px auto
    }

    .profile-username {
        word-break: break-word
    }
}

@media only screen and (max-width: 450px){
    .user-detail-info {
        display: block;
        text-align: center
    }

    .detail-top-box {
        display: block
    }

    .delete-button {
        float: right;
        margin: 5px;
    }

    .detail-date {
        float: left;
        margin: 10px;
        margin-left: 20px
    }

    .detail-icon {
        height: 50px;
        width: 50px
    }

    .user-detail-icon {
        margin-bottom: 0
    }

    .user-detail-text {
        padding-top: 0
    }

    .profile-edit {
        display: block;
        text-align: center
    }

    .set-profile-pic {
        margin: auto
    }

    .profile-postnum {
        margin-left: 0
    }

    .profile-bio {
        margin-left: 0
    }

    .profile-bio-button {
        float: none
    }

    .set-bio-button {
        margin-left: 0;
        float: none;
        height: 40px;
        margin-bottom: 5px
    }

    .post-form {
        width: 100%;
    }

    .image-uploader {
        width: 90%;
    }

    .post-description-textarea {
        max-width: 90%;
    }
}

@media only screen and (max-width: 425px){
    .auth-button {
        display: block;
        margin: auto;
        margin-top: 8px;
    }
}

@media only screen and (max-width: 340px){
    .nav-link {
        font-size: 12pt;
        margin-right: 26px
    }
}