* {
    box-sizing: border-box;
    margin: 0
}

body {
    background-color: whitesmoke
}

.App {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.button {
    border-radius: 5px;
    background-color: whitesmoke;
}

.button:focus {
    background-color: rgb(116, 154, 177);
}

/* auth */
.auth-container {
    border: solid rgb(224, 224, 224) 1px;
    width: 700px;
    background-color: white;
    margin: 40px auto;
    padding: 10px;
    text-align: center;
}

/* nav */
.nav {
    border: solid rgb(224, 224, 224) 1px;
    background-color: white;
    padding: 8px;
    align-items: center;
    position: fixed;
    width: 100%;
}

.nav-box {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: auto
}

.nav-link {
    text-decoration: none;
    font-size: 13pt;
    color: black;
    margin-left: 30px;
    transition: .3s
}

.nav-link:hover {
    color: rgb(116, 154, 177)
}

.nav-button {
    font-size: 13px;
    align-self: center;
    margin-top: -21px;
    float: right
}

/* posts */
.postlist-container {
    margin-top: 30px
}

.posts {
    padding-top: 40px
}

.card {
    background-color: white;
    border: solid rgb(224, 224, 224) 1px;
    max-width: 702px;
    border-radius: 4px;
    margin: 10px auto 25px
}

.card-image {
    max-width: 700px;
}

.card-user {
    display: flex;
    align-items: center;
}

.card-username-link {
    text-decoration: none;
}

.card-username {
    font-size: 16pt;
    color: rgb(53, 53, 53);
    transition: color .5s
}

.card-username:hover {
    color: rgb(116, 154, 177)
}

.card-user-icon {
    width: 40px;
    height: 40px;
    border-radius: 60px;
}

.card-user-icon-box {
    margin: 5px 15px;
}

/* detail */
.post-detail {
    text-align: center;
    padding-top: 60px;
    width: 700px;
    margin: auto;
    background-color: white;
}

.detail-info {
    display: grid;
    /* grid-template-columns: 100px auto auto; */
    grid-template-columns: repeat(2, 1fr);
}

.detail-user {
    grid-column: 1 / 2;
    display: flex;
    margin-left: 15px
}

.detail-icon {
    width: 70px;
    height: 70px;
    border-radius: 60px
}

.detail-username {
    font-size: 18pt;
    color: rgb(53, 53, 53);
    transition: color .5s;
    align-self: center;
    text-decoration: none;
    margin-left: 10px
}

.detail-username:hover {
    color: rgb(116, 154, 177)
}

.delete-button {
    width: 120px;
    height: 26px;
    font-size: 14px;
    justify-self: right;
    align-self: center;
    margin-right: 15px
}

.detail-date {
    margin: 10px
}

.detail-image {
    max-width: 700px;
}

/* profile */
.profile {
    padding-top: 50px;
}

.profile-edit {
    display: grid;
    grid-template-columns: 200px auto;
    width: 700px;
    margin: auto;
    padding: 10px;
    border: solid rgb(224, 224, 224) 1px;
    border-radius: 4px;
    background-color: white;
}

.profile-edit-text {
    grid-column: 2 / 3
}

.profile-username {
    margin: 14px
}

.profile-postnum {
    margin-left: 14px
}

.profile-bio {
    margin: 14px 0 10px 14px;
}

.bio-p {
    margin-bottom: 10px;
    background-color: whitesmoke;
    border-radius: 4px;
}

.bio-textarea {
    width: 80%;
}

.profile-bio-button {
    width: 80px;
    float: left;
}

.set-bio-button {
    width: 80px;
    float: left;
    margin-left: 14px
}

.set-profile-pic {
    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;
    margin: 20px;
    width: 150px;
    height: 150px;
    text-align: center;
    padding-top: 40px;
    border-radius: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}

.profile-pic-input {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1
}

.label-styling {
    border-radius: 80px;
    width: 150px;
    height: 150px;
    margin-top: -40px;
    padding-top: 56px;
    cursor: pointer;
    color: transparent;
    font-size: 13pt;
    transition: .3s
}

.label-styling:hover {
    color: #e5e6e7;
    background: rgba(0, 0, 0, 0.5);
}

.profile-pic-input:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.profile-post {
    display: grid;
    text-align: center;
    width: 700px;
    margin: 14px auto;
    padding: 20px;
    border: solid rgb(224, 224, 224) 1px;
    border-radius: 4px;
    background-color: white;
}

.post-submit-button {
    margin-top: 10px;
    width: 100px;
    font-size: 12pt;
    padding: 6px
}

/* logged in user posts */
.current-user-post {
    padding-top: 50px;
    text-align: center;
    width: 700px;
    margin: auto;
}

.user-post-list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 8px
}

.user-post {
    max-width: 200px;
    margin: auto;
    padding: 10px
}

.user-post-img {
    max-width: 100%;
}

/* comments */
.comment-icon {
    width: 30px;
    height: 30px;
    border-radius: 60px;
    margin: 5px
}

/* user page */
.user-posts-bio {
    margin-left: 20px
}

.user-post-detail {
    padding-top: 50px;
    align-items: center;
    text-align: center;
}